.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hiddenInput{
  opacity: 0;
  pointer-events: none;
}
.wordsWrapper{
  height: 132px;
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}
.words {
  color: #446ad5;
  position: absolute;
  font-size: 30px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
}
.blurred{
  filter: blur(4px);
  opacity: .25;
  z-index: 1;
}
.startSign{
  position: absolute;
  top: 31%;
  color: white;
  pointer-events: none;
}
