.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hiddenInput{
  opacity: 0;
  pointer-events: none;
}
.typeBoxWrapper{
  width: 100%;
  position: relative;
  max-width: 1000px;
  height: 132px;
  }
.wordsWrapper{
  height: 132px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.words {
  color: #446ad5;
  position: absolute;
  font-size: 30px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
}
.blurred{
  filter: blur(4px);
  opacity: .25;
  z-index: 1;
}
.startSign{
  position: absolute;
  top: 31%;
  color: white;
  pointer-events: none;
}
.liveStats{
  position: absolute;
  font-size: 28px;
  display: flex;
  gap: 10px;
  left: 0;
  top: -40px;
  padding-left: 8px;
  color: var(--alt-color);
}
