.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 175px;

}
.formControl{
  margin-bottom: 10px;
}
.error{
  color: rgb(255, 96, 96);
  margin-bottom: 10px;
}
.emailError{
  color: rgb(255, 96, 96)
}
