.container{
  position: relative;
  margin: 0 auto;
}
.words {
  color: #446ad5;
  font-size: 30px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: default;
}
.blurred{
  filter: blur(4px);
  opacity: .25;
  z-index: 1;
}
.startSign{
  position: absolute;
  top: 31%;
  left: 41%;
  color: white;
  pointer-events: none;
}