* {
  margin: 0;
}
:root {
  --main-color: #241963;
  --sub-color: #2a277a;
  --text-color: #446ad5;
  --alt-color: #c6915e;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  color-scheme: light dark;
  color: white;
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
#root{
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

input{
  background-color: var(--sub-color);
  border: none;
  height: 30px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

button{
  width: 120px;
  height: 30px;
  background-color: var(--sub-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: var(--text-color);
}
label{
  font-size: small;
  display: block;
  color: var(--text-color);
}

.container {
  text-align: center;
  margin-top: 50px;
}

.errorCount {
  font-size: 18px;
}

.word{
  margin: 4px;
}

.current-char{
  border-left: 2px solid white;
}
.caret-right{
  border-right: 2px solid white;
}
.correct-char{
  color: white;
}
.error-char{
  color: var(--alt-color);
}

.error{
  border-bottom: 1.5px solid var(--alt-color);
}


