* {
  box-sizing: border-box;
}
.wrapper{
  position: relative;
  max-width: 1600px;
  padding: 10px 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}