.wrapper {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}
.logo{
  width: 50px;
  margin: 10px;
}
.title{
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.logoWrapper{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headerButton {
  cursor: pointer
}