:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  color-scheme: light dark;
  color: white;
  background-color: #241963;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.errorCount {
  font-size: 18px;
}

.word{
  margin: 4px;
}

.current-char{
  border-left: 2px solid white;
}
.caret-right{
  border-right: 2px solid white;
}
.correct-char{
  color: white;
}
.error-char{
  color: #c6915e;
}

.error{
  border-bottom: 1.5px solid #c6915e;
}

